<div class="container bootdey">
  <div class="col-md-12">
  <section class="panel">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="pro-img-details">
                    <img src="../../assets/img/img_1.jpg" alt="">
                </div>
                <div class="pro-img-list">
                    <a href="#">
                        <img src="../../assets/img/img_1.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="../../assets/img/img_1.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="../../assets/img/img_1.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="../../assets/img/img_1.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="pro-d-title">
                    <a href="#" class="">
                      Range Rover S64 Coupe
                    </a>
                </h4>
                <p>
                    Praesent ac condimentum felis. Nulla at nisl orci, at dignissim dolor, The best product descriptions address your ideal buyer directly and personally. The best product descriptions address your ideal buyer directly and personally.
                </p>
                <div class="product_meta">
                  
                    <h1>Included in the price</h1>
                    <p><i class="fas fa-check"></i> Free cancellation up to 48 hours before pick-up</p>
                    <p><i class="fas fa-check"></i> Collision Damage Waiver with ₫11,150,692 excess</p>
                    <p><i class="fas fa-check"></i> Theft Protection with ₫11,150,692 excess</p>
                    <p><i class="fas fa-check"></i> Unlimited mileage</p>
                    <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">car</a>, <a rel="tag" href="#">2 door</a>.</span>
                </div>
                <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old">$300</span>  <span class="pro-price"> $250/1day</span></div>
  
                <p>
                    <button class="btn btn-round btn-danger" 
                    type="button"
                    [routerLink]="'/booking'" 
                    mat-button (click)="openDialog()"><i class="fa fa-shopping-cart"></i> Booking Now</button>
                </p>
            </div>
        </div>
      
    </section>
    </div>
    </div>
 