<div class="banner">
  <div class="banner-inner">
      <h1>Our For Rent Cars</h1>
  </div>
</div>
<router-outlet></router-outlet>
<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="item-1">
            <a href="#"><img src="../../assets/img/img_1.jpg" alt="Image" class="img-fluid"></a>
            <div class="item-1-contents">
              <div class="text-center">
              <h3><a href="#">Range Rover S64 Coupe</a></h3>
             
              <div class="rent-price"><span>$250/</span>day</div>
              </div>
              <ul class="specs">
                <li>
                  <span>Doors</span>
                  <span class="spec">4</span>
                </li>
                <li>
                  <span>Seats</span>
                  <span class="spec">5</span>
                </li>
                <li>
                  <span>Transmission</span>
                  <span class="spec">Automatic</span>
                </li>
                <li>
                  <span>Minium age</span>
                  <span class="spec">18 years</span>
                </li>
              </ul>
              <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Rent Now</a>
              </div>
            </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="item-1">
            <a href="#"><img src="../../assets/img/img_2.jpg" alt="Image" class="img-fluid"></a>
            <div class="item-1-contents">
              <div class="text-center">
              <h3><a href="#">Range Rover S64 Coupe</a></h3>
             
              <div class="rent-price"><span>$250/</span>day</div>
              </div>
              <ul class="specs">
                <li>
                  <span>Doors</span>
                  <span class="spec">4</span>
                </li>
                <li>
                  <span>Seats</span>
                  <span class="spec">5</span>
                </li>
                <li>
                  <span>Transmission</span>
                  <span class="spec">Automatic</span>
                </li>
                <li>
                  <span>Minium age</span>
                  <span class="spec">18 years</span>
                </li>
              </ul>
              <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Rent Now</a>
              </div>
            </div>
          </div>
      </div>


      <div class="col-lg-4 col-md-6 mb-4">
        <div class="item-1">
            <a href="#"><img src="../../assets/img/img_3.jpg" alt="Image" class="img-fluid"></a>
            <div class="item-1-contents">
              <div class="text-center">
              <h3><a href="#">Range Rover S64 Coupe</a></h3>
              
              <div class="rent-price"><span>$250/</span>day</div>
              </div>
              <ul class="specs">
                <li>
                  <span>Doors</span>
                  <span class="spec">4</span>
                </li>
                <li>
                  <span>Seats</span>
                  <span class="spec">5</span>
                </li>
                <li>
                  <span>Transmission</span>
                  <span class="spec">Automatic</span>
                </li>
                <li>
                  <span>Minium age</span>
                  <span class="spec">18 years</span>
                </li>
              </ul>
              <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Rent Now</a>
              </div>
            </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="item-1">
            <a href="#"><img src="../../assets/img/img_1.jpg" alt="Image" class="img-fluid"></a>
            <div class="item-1-contents">
              <div class="text-center">
              <h3><a href="#">Range Rover S64 Coupe</a></h3>
             
              <div class="rent-price"><span>$250/</span>day</div>
              </div>
              <ul class="specs">
                <li>
                  <span>Doors</span>
                  <span class="spec">4</span>
                </li>
                <li>
                  <span>Seats</span>
                  <span class="spec">5</span>
                </li>
                <li>
                  <span>Transmission</span>
                  <span class="spec">Automatic</span>
                </li>
                <li>
                  <span>Minium age</span>
                  <span class="spec">18 years</span>
                </li>
              </ul>
              <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Rent Now</a>
              </div>
            </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="item-1">
            <a href="#"><img src="../../assets/img/img_2.jpg" alt="Image" class="img-fluid"></a>
            <div class="item-1-contents">
              <div class="text-center">
              <h3><a href="#">Range Rover S64 Coupe</a></h3>
             
              <div class="rent-price"><span>$250/</span>day</div>
              </div>
              <ul class="specs">
                <li>
                  <span>Doors</span>
                  <span class="spec">4</span>
                </li>
                <li>
                  <span>Seats</span>
                  <span class="spec">5</span>
                </li>
                <li>
                  <span>Transmission</span>
                  <span class="spec">Automatic</span>
                </li>
                <li>
                  <span>Minium age</span>
                  <span class="spec">18 years</span>
                </li>
              </ul>
              <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Rent Now</a>
              </div>
            </div>
          </div>
      </div>


      <div class="col-lg-4 col-md-6 mb-4">
        <div class="item-1">
            <a href="#"><img src="../../assets/img/img_3.jpg" alt="Image" class="img-fluid"></a>
            <div class="item-1-contents">
              <div class="text-center">
              <h3><a href="#">Range Rover S64 Coupe</a></h3>
              
              <div class="rent-price"><span>$250/</span>day</div>
              </div>
              <ul class="specs">
                <li>
                  <span>Doors</span>
                  <span class="spec">4</span>
                </li>
                <li>
                  <span>Seats</span>
                  <span class="spec">5</span>
                </li>
                <li>
                  <span>Transmission</span>
                  <span class="spec">Automatic</span>
                </li>
                <li>
                  <span>Minium age</span>
                  <span class="spec">18 yeardds</span>
                </li>
              </ul>
              <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Rent Now</a>
              </div>
            </div>
          </div>
      </div>
      <div class="col-12 page">
        <a [routerLink]="'/car'" class="p-3">1</a>
        <span class="p-3">2</span>
        <a [routerLink]="'/car/car-page3'" class="p-3">3</a>
        <a [routerLink]="'/car/car-page4'" class="p-3">4</a>
      </div>
</div>
</div>
</div>
<app-footer></app-footer>

