.banner {
    max-width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.247),rgba(0, 0, 0, 0.247)), url(../../assets/img/hero_2.jpg);
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 
}
.banner-inner{
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}
.banner-inner h1{
    font-size: 60px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    color: white;
}