<div class="banner">
    <div class="banner-inner">
        <h1>Over View</h1>
    </div>
  </div>
  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="flaticon-car"></span>
            </span>
            <div class="service-1-contents">
              <h3>1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="flaticon-valet-1"></span>
            </span>
            <div class="service-1-contents">
              <h3>2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="flaticon-key"></span>
            </span>
            <div class="service-1-contents">
              <h3>table3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="flaticon-car-1"></span>
            </span>
            <div class="service-1-contents">
              <h3>table4</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="flaticon-traffic"></span>
            </span>
            <div class="service-1-contents">
              <h3>table5</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="flaticon-valet"></span>
            </span>
            <div class="service-1-contents">
              <h3>6</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <app-footer></app-footer>