
<!-- <div class="banner">
  <div class="banner-inner">
      <h1>Welcome to Admin Page!</h1>
  </div>
</div> -->
<div class="navbar navbar-fixed-left">
  
  <ul class="nav navbar-nav">
   <li><a [routerLink]="'/add-car'">Add & Search Car</a></li>
   <li><a [routerLink]="'/car-list'">List User Booking</a></li>
   <li><a [routerLink]="'/view'">Add Update User</a></li>
  </ul>
</div>
<div class="right-side">
<div class="container">
 <div class="row">
   <h2>Welcome to Admin Page!</h2>
   <div class="container">
   <div class="row">
  <div class="col-md-10 table-scrolling"> 
      <table class="table table-sm table-hover">
      
              <tr>
                <th>Car ID</th>
               
                <th>Car Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Car Type</th>
                  <th>Edit</th>
              </tr>
       
         
            <tr >
              <td>Car11</td><td>Toyota</td><td>Toyota Avanza.</td>
              <td>100$</td><td>Toyota</td>
              <td>
                <a class="btn" (click)="showForEdit(branch)">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn text-danger" (click)="onDelete(branch.branchID)">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
            <tr >
              <td>Car21</td><td>Range Rover</td><td>TRange Rover S64 Coupe.</td>
              <td>250$</td><td>Range Rover </td>
              <td>
                <a class="btn" (click)="showForEdit(branch)">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn text-danger" (click)="onDelete(branch.branchID)">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          </table>
             
  </div>
</div>
</div>
 </div>
</div>
</div>

