<div class="offer">
  <h3>WHAT WE <a style="color:#FF5A6E ">HAVE</a></h3>
  <p> Easy for you to book your next Viet Nam car rental</p>
  <hr>
  <div class="container">
  <div class="row">
  <div class="col-md-6 col-sm-6">
    <img src="assets/img/photo5.png" >
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="assets/img/photo6.png" class="photo3">
    </div>
  </div>
  </div>
</div>
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <img src="assets/img/photo1.jpg" class="body1">
      </div>
      <div class="col-md-7 col-sm-6 content2">
        <h3>WHY CHOSE US</h3>
        <h5>Designed for startups</h5>
        <h5>with expert developer</h5>
        <p style="margin-top: 30px;">We work with the best car rental companies in Viet Nam, 
          bringing you discount car rental rates and a wide variety of car rental classes including economy,
           compact, midsize, full-size, convertible, van, luxury, full size and SUV rentals. 
           Our partner car rental companies in Viet Nam offer different pick-up and drop-off options. 
           If you are ready to book your Viet Nam car rental, follow the links on this page to 
          view more information and details on your next short or long term car rental.</p>
        <h2><i class="fas fa-check" style="color:#FF5A6E"></i> ROCKET FAST</h2>
        <p style="margin-left:20px">Booking car fast</p>
        <h2><i class="fas fa-check" style="color:#FF5A6E"></i> CHEAPER </h2>
        <p style="margin-left:20px;">Booking car cheap than more companies</p>
        <a href="#" class="btn-readmore">READ MORE</a>
      </div>
    </div>
  </div>
</div>